/*colours
#F6F6F2 - CREAM (SECTION BACKGROUND)
#C2EDCE - MINT GREEN
#BADFE7 - LIGHT BLUE
#6FB3B8 - BLUE (TEXT ON SECTION)
#1b5c7a - DARK BLUE (HEADER AND FOOTER BACKGROUND)
*/

body {
  margin: 0;
  font-size: 23px;
  font-family: 'Roboto';
  text-align: center;
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  background-color: #1b5c7a;
  color: #f6f6f2;
  padding: 40px;
  margin: 0 auto;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

nav {
  display: block;
  height: 50px;
  line-height: 50px;
  background-color: #1b5c7a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding: 5px;


}
a:hover {
  color:#C2EDCE ;
  
}

a {
  text-decoration: none;
  color: #6FB3B8;
}

iframe {
  width: 600;
  height: 450;
  border: 0;
  border-radius: 10px;
  margin: 20px;
}

footer {
  background-color: #1b5c7a;
  color: #f6f6f2;
  padding: 40px;
  margin: 0 auto;
  font-size: larger;
}

section {
  background-color: #f6f6f2;
  color: darkslategray;
  width: 50%;
  border-radius: 25px;
  padding: 50px;
  margin-bottom: 0.5rem;
}

img {
  border-radius: 25px;
  height: 500px;
  width: 500px;
  object-fit: cover;
}

@media (min-width: 600px) {
  img {
    width: 80%;
    height: 70%;
  }
  iframe {
    width: 60%;
    height: 50%;
  }
  main {
    flex-wrap: nowrap;
  }
  section {
    flex-basis: 33%;
  }
}


