header {
  background-color: darkslategrey;
  color: white;
  padding: 40px;
  font-family: Verdana;
  margin: 0 auto;
  text-align: center;
}

footer {
  background-color: darkslategrey;
  color: white;
  padding: 40px;
  font-family: Verdana;
  margin: 0 auto;
  text-align: center;
}

section {
  background-color: lightslategrey;
  color: black;
  margin: 0 auto;
  padding: 20px;
  font-family: Verdana;
  text-align: center;
}
