/*colours
#F6F6F2 - CREAM (SECTION BACKGROUND)
#C2EDCE - MINT GREEN
#BADFE7 - LIGHT BLUE
#6FB3B8 - BLUE (TEXT ON SECTION)
#388087 - DARK BLUE (HEADER AND FOOTER BACKGROUND)
*/

body {
  margin: 0;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header {
  background-color: #388087;
  color: #f6f6f2;
  padding: 40px;
  margin: 0 auto;
  font-size: 30px;
}

nav {
  display: inline;
}

li {
  display: inline;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f6f6f2;
}

footer {
  background-color: #388087;
  color: #f6f6f2;
  padding: 40px;
  margin: 0 auto;
  font-size: larger;
}

main {
  background-color: #f6f6f2;
  padding: 50px 0 50px 0;
  margin: 0 auto;
  font-size: larger;
}

section {
  background-color: #6fb3b8;
  color: darkslategray;
  width: 50%;
  border-radius: 25px;
  margin: 60px auto 40px auto;
  padding: 50px;
}

img {
  border-radius: 25px;
  height: 500px;
  width: 500px;
  object-fit: cover;
}
